{# Copyright (c) 2017 Board of Trustees University of Illinois -#}

{# produces e.g.
zone "illinois.edu" { type forward; forwarders { 10.224.1.50; 10.224.1.100; }; };
zone "uillinois.edu" { type forward; forwarders { 10.224.1.50; 10.224.1.100; }; };
-#}

{% for zone in zone_list.stdout_lines %}
zone "{{ zone }}" { type forward; forwarders { {% for ip in forwarders -%} {{ ip }}; {% endfor -%} }; };
{% endfor %}
