# named.conf for AWS RDNS Forwarders using BIND 9.11 from Amazon Linux 2
#
# note: the distribution's default file can be found at
# /usr/share/doc/bind*/named.conf.default

options {
    directory          "/var/named";
    dump-file          "/var/named/data/cache_dump.db";
    statistics-file    "/var/named/data/named_stats.txt";
    memstatistics-file "/var/named/data/named_mem_stats.txt";
    recursing-file     "/var/named/data/named.recursing";
    secroots-file      "/var/named/data/named.secroots";

    allow-query { localhost; {{ vpc_cidr }}; };
    recursion yes;

    # forward queries to AmazonProvidedDNS by default
    forwarders { {{ amazon_dns }}; };
    forward only;

    # tune caching behavior (values in seconds)
    max-cache-ttl  {{ max_cache_ttl | default(900) }};
    max-ncache-ttl {{ max_ncache_ttl | default(900) }};

    version none;

    dnssec-enable yes; # return DNSSEC-related resource records
    dnssec-validation no;

    bindkeys-file "/etc/named.root.key";

    managed-keys-directory "/var/named/dynamic";

    pid-file "/run/named/named.pid";
    session-keyfile "/run/named/session.key";
};

logging {
    # log INFO and above to rsyslog (i.e. /var/log/messages)
    category default { default_syslog; };
};

zone "." IN {
    type hint;
    file "named.ca";
};

include "/etc/named.root.key";

include "/etc/rndc.key";
controls {
    inet 127.0.0.1 allow { localhost; } keys { "rndc-key"; };
};

# forward queries for University zones to Core Services Resolvers instead
include "/var/named/zones.conf";
