# CloudWatch Logs agent configuration file
#
# Copyright (c) 2017 Board of Trustees University of Illinois

[general]
state_file = /var/lib/awslogs/agent-state

[/var/log/messages]
file = /var/log/messages
datetime_format = %b %d %H:%M:%S
log_group_name = rdns-forwarder
log_stream_name = {instance_id}//var/log/messages

[ansible]
file = {{ ansible_logfile }}
datetime_format = %Y-%m-%d %H:%M:%S
log_group_name = rdns-forwarder
log_stream_name = {instance_id}/{{ ansible_logfile }}
